@font-face 
{
    font-family: PressStart2P;
    src: url(PressStart2P.ttf);
}

.toptext 
{
    font-size: xx-large;
    font-family: PressStart2P, Helvetica, sans-serif;
    text-align: center;
}

.smalltext
{
    font-family: PressStart2P, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

.calculator
{
    width: 1536px; 
    height: 1024px; 
    margin-left: auto; 
    margin-right: auto; 
    border: 5px solid black;
    border-right-width: 7px;
    border-bottom-width: 7px;
}

.options
{
    font-family: PressStart2P, Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: left;
    position: relative;
    left: calc(50% - 768px);
}

.option
{
    font-family: PressStart2P, Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: left;
    position: relative;
    left: calc(50% - 700px);
}
